body {
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
}

header{
    display: flex;
    background-color: #383838;
    border-bottom:#bbbbbb 1px solid;
    height:38px;
}

footer{
    height:26px;
    padding:4px 10px 4px 10px;
    font-size:0.8em;
    background-color: #383838;
    color:#ffffff;
    border-top:#bbbbbb 1px solid;
}

[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
}

header.navbar {
  background-color: #343a40;
  color: #fff;
}
header .navbar-section{
  color: #ffffff;
}
header .btn {
  background-color: transparent;
  color: #ffffff;
  border: none;
}

header .btn:hover {
  background-color: #6c757d;
}
header .btn:focus {
  background-color: #343a40;
}

header .menu{
  background-color: #6c757d;
  color: #ffffff;
}

body.dark-mode #editor, body.dark-mode #outline, body.dark-mode #preview {
  background-color: #343a40;
  color: #f8f9fa;
}

body.dark-mode .gutter {
  border:1px;
  background-color: #343a40;
}

body.dark-mode .gutter:hover {
  background-color: #6c757d;
}

.modal-overlay.dark-mode{
  background-color: #6c757d;
}
.modal-container.dark-mode{
  background-color: #6c757d;
}
.modal-container{
  color:#292929;
}
#editor-container {
  color: #343a40;
  max-width: initial;
  display: flex;
  flex: 1;
  overflow-y: hidden; overflow-x: hidden;
  border: 0px;
  height: calc(100vh - 64px);
}

#outline {
  overflow-y: none; overflow-x: auto;
  width: 20%;
  padding:10px;
}
#outline::-webkit-scrollbar {
  width: 8px;
  background-color:transparent; 
}

#outline::-webkit-scrollbar-thumb {
  background: #919191;
  width: 6px;
  border-radius: 5px;
}

#outline.hidden {
  display: none;
}

#editor{
  width: 40%;
  padding:0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y:  auto; overflow-x: auto;
  background-color:#eeeeee;
}

/* トーストの表示 ※デザインはCSSフレームワーク側で設定 */
.toast {
  max-width:460px;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 30px;
  font-size:0.8em;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.3s, fadeout 0.3s 1.8s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

/* プレビュー */
#preview {
  width: 40%;
  overflow-y: auto; overflow-x: auto;
  border-left: 0px ;
  padding:10px;
  border-left:#bbbbbb 1px solid;
}

#preview.hidden {
  display: none;
}

#preview::-webkit-scrollbar {
  background-color:transparent;
  width:10px;
}

#preview::-webkit-scrollbar-thumb {
  background: #919191;
  width:10px;
  border-radius: 5px;
}

.footer_button{
  color:#ffffff;
  padding-right:10px;
}
.footer_button:hover{
  color:#ffffff;
  text-decoration: none;
}

.footer_right{
  position: absolute;
  right:0;
}
.filename{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.gutter {
  background-color:#f7f7f7;
}
.gutter:hover {
  background-color: #ced4da;
  cursor: col-resize;
}
.CodeMirror {
  flex: 1;
  line-height:1.5;
}

/* エディタ部スクロールバーの調整
アドオンに関連 */
.CodeMirror-overlayscroll .CodeMirror-scrollbar-filler, .CodeMirror-overlayscroll .CodeMirror-gutter-filler {
  display: none;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  position: absolute;
  background: #d5d5d5;
  border-radius: 3px;
  border:1px solid #a0a0a0;
}

.CodeMirror-overlayscroll-horizontal, .CodeMirror-overlayscroll-vertical {
  position: absolute;
  z-index: 6;
}

.CodeMirror-overlayscroll-horizontal {
  bottom: 0; left: 0;
  height: 6px;
}
.CodeMirror-overlayscroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-overlayscroll-vertical {
  right: 0; top: 0;
  width: 10px;
}
.CodeMirror-overlayscroll-vertical div {
  right: 0;
  width: 100%;
}
