/* Style Setting */ 
/* Editor */
.CodeMirror * {
  /*none*/
}

.CodeMirror {
  font-family:monaco,'Meiryo', sans-serif;
  font-size:14px;
}

.CodeMirror span.cm-cursor {
  border-left: 2px solid #270b3d;
}

.CodeMirror span.cm-cursor.theme-dark {
    border-left: 2px solid #fff;
}
  
/* Outline */
#outline {
  color: #343a40;
  background-color:#f7f7f7;
  border-right:#e4e4e4 1px solid;
}

.outline-item {
    font-family:'Meiryo', sans-serif;
    font-size:0.9em;
}

/* Preview */
#preview{
    font-family:'Meiryo', sans-serif;
    background-color: #fff;
}
#preview code, #preview kbd, #preview pre, #preview samp{
    background-color:#545454;
    color:#ffffff;
  }
  #preview img {
    width:100%;
  }
  #preview pre {
    padding:10px;
  }
  
  #preview table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 2px #6b6b6b;
    margin-top: 1.2em;
    margin-bottom:1.2em;
   }
   #preview th {
    padding: 10px;
    background: #5a5a5a;
    border: solid 1px #424242;
    border-bottom: solid 2px #787878;
    color:#ffffff;
   }
   #preview td {
    padding: 10px;
    border-left: solid 1px #a0a0a0;
   }
   #preview tr {
    border-top: solid 1px #a5a5a5;
   }

