/* Editor ⇒ header */
.CodeMirror span.cm-header-1 {
    font-size:1.6em;
  }
.CodeMirror span.cm-header-2 {
  font-size:1.4em;
}
.CodeMirror span.cm-header-3 {
  font-size:1.2em;
}
  
.CodeMirror span.cm-header-4,
.CodeMirror span.cm-header-5,
.CodeMirror span.cm-header-6{
  font-size:1.0em;
}